#SIN {
  text-decoration: line-through;
  letter-spacing: 0.8em;
  background-color: black;
  color:red;
  text-shadow: 2px 2px 7px yellow;
}
a{
  text-decoration: none;
}
a:visited{
  color: red;
}
.Slogan2 {
  border: 10px solid transparent;
  padding:15px;
  -webkit-border-image: url("https://i.imgur.com/LvGe3rW.png")11 11 11 11 stretch;
  /*cursor: url("https://i.imgur.com/W8FKQQi.jpg?1");*/
}


ul {
  list-style-type: none;
}

ul li:before {
  content: '';
  display: inline-block;
  height: 40px;
  width: 40px;
  background-size: 40px;
  background-image: url("https://i.imgur.com/8TT3MZV.jpg");
  background-repeat: no-repeat;
  margin-right: 10px;
  vertical-align: middle;

}
li{
  font-size: 40px;
  font-family: fantasy;
  cursor: help;
}
